@import url('https://fonts.googleapis.com/css?family=Roboto:700|Rubik&display=swap');

html,
body {
	height: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
}

* {
	font-family: 'Rubik', sans-serif;
	padding: 0px;
	margin: 0px;
}

body {
	font: 100%/1 'PT Serif', serif;
	background: #171821;
	color: #333;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: rgba(31, 38, 41, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #247ba0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #ffe066;
	transition: background-color .8s;
}

:active,
:focus {
	outline-style: none;
}

a:link {
	color: #cc8500;
	text-decoration: none;
}

a:hover {
	color: #cc1400;
	text-decoration: underline;
}

#site {
	margin: 0px auto;
}

img.header-logo {
	height: 50px;
	margin: 5px auto;
}

.header {
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 60px;
	background-color: rgba(31, 38, 41, 1);
}

#content {
	margin: 0px auto;
	background-color: #2c2d35;
	width: 90%;
	max-width: 1550px;
}

.sidenav {
	height: 100%;
	width: 40px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(44, 53, 57, 0.7);
	overflow: hidden;
	transition: 0.5s;
}

.sidenav a {
	padding: 10px 8px 10px 60px;
	text-decoration: none;
	font-size: 25px;
	border-top: 3px solid #171821;
	color: #f1f1f1;
	display: block;
	transition: 0.3s;
	font-family: 'Rubik';
}

.sidenav #cart-icon {
	border: none;
	position: relative;
	height: 80px;
	margin-top: 60px;
	font-size: 35px;
	padding-left: 45%;
	background-color: rgba(36, 123, 160, 0.7);
}

.sidenav a:hover {
	color: #171821;
	background-color: rgba(255, 255, 255, 0.7);
}

.sidenav #about {
	position: relative;
	bottom: 0;
	width: 250px;
}

.navbutton-container {
	position: absolute;
	top: 0;
	width: 40px;
	background-size: 100% 200%;
	height: 100%;
	background-image: linear-gradient(#ffe066, #247ba0, #ffe066);
	transition: background 1s ease-out;
	cursor: pointer;
}

.navbutton-container:hover {
	background-position: 0 100%;
	background-color: #2c2d35;
	transition: 0.3s;
}

.navbutton-container.active {
	background-color: #ffe066;
	transition: 0.3s;
}

#navbutton {
	position: absolute;
	top: 50%;
	right: 5px;
	font-size: 30px;
	color: #2c2d35;
	width: 30px;
	transform: rotate(0deg);
	transition: 0.5s;
}

#navbutton.active {
	transform: rotate(180deg);
	transition: 0.5s;
}

.tagline {
	float: right;
	color: #666;
	font-size: 14px;
	padding-top: 3.5em;
}

.section-header {
	background-color: #247ba0;
	color: #2c2d35;
	padding: 20px;
	margin: 30px;
	font-weight: bold;
	font-size: 2em;
	text-align: left;
}
.landing-vid {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
}
.landing-vid video {
	width: 100%;
	display: block;
}
.landing-vid:before {
	content: '';
	position: absolute;
	background: rgba(36, 123, 160, 0.3);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

h1.landing-header {
	position: absolute;
	top: 40%;
	left: 10%;
	font-size: 8vw;
	color: #ffe066;
	font-family: 'Roboto', sans-serif;
}
h2.landing-header {
	position: absolute;
	top: 60%;
	font-size: 3vw;
	left: 10%;
	color: white;
	font-family: 'Roboto', sans-serif;
}

#products {
	margin: 0;
	padding: 0;
}

.product {
	float: left;
	width: 400px;
	height: 400px;
	padding: 20px;
	margin: 20px auto;
}

.product-image {
	margin: 0;
	background: #000;
	width: 50%;
	float: left;
}

img {
	display: block;
	height: 400px;
}

.product-text {
	width: 50%;
	background: #56575d;
	color: #fff;
	height: 400px;
	float: left;
}

.product-name {
	text-align: center;
	color: #fc0;
	margin: 0;
	font-size: 1.4em;
	padding-bottom: 0.2em;
	border-bottom: 1px dotted #666;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

p.product-description {
	border-top: 2px solid;
	display: inline-block;
	padding: 10px;
	height: 175px;
}

.product-price {
	width: 100%;
	height: 4em;
	font-size: 1.2em;
	text-align: center;
	background: #fff;
	color: #000;
	line-height: 4;
	margin: 0px;
}

form.add-to-cart div,
form.add-to-cart p {
	text-align: center;
}

form input.qty {
	width: 50%;
	height: 50px;
	font: 1em 'Rubik';
	border: none;
	text-align: center;
	background: #f9f9f9;
	color: #000;
	float: left;
}

.btn,
a.btn {
	display: block;
	width: 50%;
	float: right;
	background: #cc1400;
	color: #fff;
	font: 1em 'PT Serif', serif;
	text-align: center;
}

.product-btn {
	background-color: #247ba0;
	border: none;
	color: white;
	padding: auto 32px;
	text-align: center;
	text-decoration: none;
	float: right;
	font-size: 24px;
	font-weight: bold;
	width: 50%;
	height: 50px;
	cursor: pointer;
}

.product-btn:hover {
	background-color: #7dc05d;
}

#site-info {
	height: 3em;
	width: 100%;
	line-height: 3;
	text-align: center;
	background: #cc8500;
	position: absolute;
	color: #fff;
	left: 0;
	bottom: 0;
}

body#checkout-page #site-info {
	position: static;
}

#shopping-cart {
	margin: 1.5em 0;
}

.shopping-cart {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.shopping-cart th {
	font-size: 1.3em;
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
	text-transform: uppercase;
}

.shopping-cart td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
}

.shopping-cart tr:nth-child(even) {
	background: #fafafa;
}

.shopping-cart td.pdelete {
	text-align: center;
}

.pdelete a,
.pdelete a:hover {
	color: #c00;
	text-decoration: none;
	font-size: 2.5em;
	display: block;
	text-align: center;
}

#shopping-cart-actions {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#shopping-cart-actions li {
	display: inline-block;
	margin-right: 1em;
}

#pricing {
	padding: 0.5em;
	margin: 1em 0;
	background: #fafafa;
}

#sub-total,
#shipping {
	margin: 1.5em 0;
	text-align: right;
}

#sub-total span,
#shipping span {
	margin-left: 1em;
}

#content > h1,
#checkout-order-form h2 {
	font-size: 2em;
	text-align: center;
}

#pricing #sub-total,
#pricing #shipping {
	margin: 1em 0;
}

#checkout-order-form {
	margin: 1.5em 0;
}

#checkout-order-form fieldset {
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 1em;
	margin-bottom: 1.3em;
}

#checkout-order-form legend {
	padding: 0.3em;
	background: #fafafa;
	font-weight: bold;
}

#checkout-order-form div {
	margin-bottom: 1em;
}

#checkout-order-form label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.3em;
	text-align: left;
}

#checkout-order-form input[type="text"] {
	width: 200px;
	display: block;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.3em;
}

#checkout-order-form select {
	width: 200px;
	display: block;
}

.message {
	display: block;
	margin: 0.5em 0;
	color: red;
}

#user-details {
	margin: 1.5em 0;
}

#user-details > h2 {
	text-align: center;
	font-size: 2em;
}

#user-details-content {
	margin: 1.5em 0;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: 6px;
	overflow: hidden;
}

#user-details-content .detail {
	float: left;
	width: 46%;
}

#user-details-content .detail.right {
	float: right;
}

#user-details-content .detail > h2 {
	text-align: center;
	font-size: 1.6em;
	margin-bottom: 0.5em;
}

#user-details-content ul {
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
}

#user-details-content li {
	display: block;
	margin-bottom: 0.5em;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #ddd;
}

#paypal-form {
	margin: 1.5em 0;
}
